@charset "UTF-8";

/* Estilo para Telas*/

* {
    padding: 0px;
    margin: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    background-color: lightgray;
    text-align: center;
}

header li{
    display: inline-block;
    padding: 10px;
    margin:;
    background-color: rgb(63, 63, 63);
    color: white;
}

menu{
    background-color: rgb(126, 125, 125);
}

article{
    width: 600px;
    display: block;
    margin: auto;
}

article h2{
    text-align: center;
}

article p{
    text-indent: 15px;
    margin-bottom: 16px;
    font-size: 1em;
    line-height: 1.5em;
    justify-content: left;
}