@charset "UTF-8";

@media screen and (min-width: 768px){
    

    menu li{
        margin-right: 5px;
        display: inline-block;
    }

    menu{
        display: block;
    }

    #burguer{
        display: none;
    }

    main {
        width: 768px;
    }
}