@charset "UTF-8";

@media screen and (min-width: 768px){
    

    menu li{
        margin-right: 5px;
        display: inline-block;
    }

    menu{
        display: block;
    }

    /* menu a{
    border-top: none;
    padding: 10px;
    background-color: rgb(87, 87, 87);
    color: white;
    text-decoration: none;
    }  */

    #burguer{
        display: none;
    }
}