@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: rgb(231, 231, 231);
}


header{
    background-color: darkgray;
    padding-top: 10px;
}

header h1{
    text-align: center;
    padding: 10px;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
}

menu a{
    display: block;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-top: 2px solid gray;
}

menu a:hover{
    background-color: gray;
}

#burguer{
    background-color: rgb(48, 48, 48);
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
}

#burguer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

main{
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article h2{
    margin-bottom: 20px;
}

article p{
    font-size: 1em;
    line-height: 1.2em;
    text-indent: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

